.home-card {
  width: 30rem;
  margin: 0 auto;
  padding: 10px 40px;
}

.home-cardBody {
  padding: 20px;
  text-align: center;
}

.home-link, .home-link:hover {
  text-decoration: none;
  color: white;
  background-color: #007bff;
  border-color: #007bff;
  margin: auto;
  display: block;
  padding: 0.5em;
  border-radius: 5px;
}

.home-title, .home-text {
  text-align: center;
}

.home-title {
  margin-top: 16px;
}

.home-text {
  margin-top: 10px;
}


