.lastTr-card {
  width: 45rem;
  height: 370px;
  margin: 20px 0 0 10px;
}

.lastTr-cardBody {
  padding: 20px;
}

.lastTr-button {
  margin-top: 10px;
  padding: 5px 15px 5px 15px;
}

.lastTr-firstColumn {
  font-weight: bold;
}

.lastTr-link, .lastTr-link:hover {
  text-decoration: none;
  color: white;
  background-color: #007bff;
  border-color: #007bff;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
}

.lastTr-table {
  margin-bottom: 30px;
}