.payment-card {
  width: 22rem;
  margin: 20px 0 0 10px;
}

.payment-cardBody {
  padding: 20px;
}

.payment-button {
  margin-top: 10px;
  padding: 5px 15px 5px 15px;
}

.payment-text {
  padding: 0;
  margin: 0;
}

.payment-label {
  margin-bottom: 0;
}